data/raw/features_F.las
data/raw/labeled_FSL.las
tests/test_grids/
/data/
data/
data
data/pre_processed_data/
data/pre_processed_data
data/raw
__pycache__/debug_grid_assignment.cpython-310.pyc
__pycache__/debug_grid_real.cpython-310.pyc
scripts/__pycache__/optimized_pc_to_img.cpython-310.pyc
scripts/__pycache__/point_cloud_to_image.cpython-310.pyc
scripts/__pycache__/optimized_pc_to_img.cpython-310.pyc
scripts/__pycache__/point_cloud_to_image.cpython-310.pyc
tests/test_optimized_grids_real_data
tests/multiscale_grids
tests/debug/CPU_grids/labels.csv
tests/debug/GPU_grids/labels.csv
tests/debug/CPU_grids
tests/debug/GPU_grids
saved/
# Ignore Python cache files
__pycache__/
*.pyc
*.pth
